body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: calc(33% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}
